.wrapperKeyboard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap:.5rem;
}
.buttonLetter{
  justify-self: start;
  font-size: 2.5rem;
  width: 100%;
  &:disabled{
    background-color: red;
  }
}
.buttonLetterActive{
  &:disabled{
  background-color: green;
  }
}